<h4>Hello <%= @user.email %>!</h4>

<% @user.pics.each do |pic| %>
  <h4><%= pic.title %></h4>
  <p><%= image_tag pic.image.url(:large) %></p>
  <%= link_to "Delete", user_pic_path(@user, pic),
                                      :data => {:confirm => "Are you sure?",
                                      :method => "delete"} %>

<% end %>




<p><%= link_to "Add Pic", new_user_pic_path(@user) %></p>

<p><%= link_to "Log out", log_out_path %></p>
